# Raw Audio data
Research/towardsdatascience_series/data

# Python environment and python cache
Research/towardsdatascience_series/env
**/__pycache__

# Vim configs
**/.vim

# aws configs
**/.aws*

# audio and data files
**/output_processing/audio
**/output_processing/csvs
**/output_processing/outputs
**/output_processing/created_wavs


# cached dir
**/.cache

# Thesis pdf and zip
Thesis/*.pdf
Thesis/*.zip

# vscode settings
**/.vscode
